<h2 class="profile-title">Welcome {{foundUser.username}}!</h2>

    

<section>
    <div class="profile-info">
        <img class="profile-picture" src="{{foundUser.picture}}">
        <p class="user-info">{{foundUser.firstName}} {{foundUser.lastName}}</p>
        <p class="user-info">From: {{foundUser.nationality}}</p>
        <p class="user-info">Age: {{foundUser.age}}</p>
        <a class="profile-btns" href="/add-visited">Add visited countries</a>
        <p></p>
        <a class="profile-btns" href="/edit-profile">Edit Profile</a>
    </div>
    
{{#each foundUser.visitedCountries}}
        <div>
            <p>{{name}}</p>
        </div>
        <form action="/remove-visited/{{_id}}" method="post">
        <button type="submit">Delete</button></form>
        
    {{/each}}

    <div class="visited-display">
        <section class="info-cards">
            {{#each countries}}
                <div class="display-cards">
                    <div class="card" style="width: 18rem;">
                        <img src="{{this.flags.png}}" class="card-img-top flag-border" alt="Image of flag couldn't be loaded">
                        <div class="card-body">
                            <p class="card-text card-name">{{this.name.common}}</p>
                            <p class="card-text">{{this.continents}}</p>
                            <p class="card-text">Population: {{this.population}}</p>
                            <p class="card-text">Capital: {{this.capital}}</p>
                            {{#each currencies}}
                            <p class="card-text">Currency Name: {{this.name}} {{this.symbol}}</p>
                            {{/each}}
                        </div>
                        <button type="submit">Edit</button>
                        <a>Delete</a>
                    </div>
                </div>
            {{/each}}
        </section>
    </div>
</section>
